@model IEnumerable<e_PTIT.Models.StoryContent>

@{
    ViewBag.Title = "Story Contents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h3 style="padding-top:10px;">Story Contents</h3>
<h4>
    @Html.ActionLink("Create New", "NewStoryContent")
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fkStoryId)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.pageNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pageName)
        </th>    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fkStoryId)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.pageNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pageName)
        </td> 
        <td>
            @Html.ActionLink("Edit", "EditStoryContent", new { id=item.pkStoryPageId })  
        </td>
    </tr>
}

</table>
